name: Compile & Test

on: [push, pull_request]
jobs:
  codegen-verify:
    name: Verify code generation
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.13
        uses: actions/setup-go@v2
        with:
          go-version: 1.13

      - uses: actions/checkout@v2

      - name: Install and run mockgen
        run: |
          set -x
          apt-get -y update && apt-get -y install git
          cd /
          go install github.com/golang/mock/mockgen
          mkdir -p ${GITHUB_WORKSPACE}/../go/src/github.com/mittwald/go-helm-client
          mv ${GITHUB_WORKSPACE} ${GITHUB_WORKSPACE}/../go/src/github.com/mittwald/go-helm-client
          cd ${GITHUB_WORKSPACE}/../go/src/github.com/mittwald/go-helm-client
          go env
          go generate ./...
          git diff | cat
          git status --porcelain=v1
          test $(git status --porcelain=v1 | wc -l) -eq 0
        env:
          GO111MODULE: on

  build:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.14', '1.13', '1.12' ]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}

      - name: Run unit tests
        run: go test ./...
